CONTAINER_USER=gitlab-runner
CONTAINER_USER_ID=1000
CONTAINER_GROUP=www-data
CONTAINER_GROUP_ID=1000

APP_CONTAINER_NAME=template-app
APP_NETWORK_NAME=template-network
NGINX_PORT=84
HTTPS_PORT=444
NGINX_CONTAINER_NAME=template-nginx
FPM_PATH=template-app:9000
DOMAIN_NAME=template.test
REDIS_CONTAINER_NAME=template-redis
REDIS_PORT=6379
REDIS_PASSWORD=password