/docker/logs
.env
/src/.phpunit.cache
/src/node_modules
/src/public/build
/src/public/hot
/src/public/storage
/src/public/translations
/src/public/docs
/src/resources/translations
/src/resources/lang
/src/storage/*.key
/src/storage/pail
/src/vendor
/src/.scribe
/src/.env.backup
/src/.env.production
/src/.phpactor.json
/src/.phpunit.result.cache
/src/Homestead.json
/src/Homestead.yaml
/src/auth.json
/src/npm-debug.log
/src/yarn-error.log
/src/.fleet
/src/.idea
/src/.nova
/src/.vscode
/src/.zed
/.idea
